$pinkColor: rgb(255, 146, 146);
$yellowColor: rgb(255, 195, 100);
$turquoiseColor: rgb(29, 216, 216);

$brandColor: #8652f3;
$secondaryLogoColor: #8652f3;
$backgroundColor: #f5f4fa;
$secondaryBackgroundColor: #2f303a;

$primaryFontColor: #212121;
$secondaryFontColor: #757575;

$whiteColor: #ffffff;

$thirdBackgroundColor: #afb1b8;

$portfolioExtensionColor: rgba(33, 150, 243, 0.9);

$whatwedoDescriptionBackground: rgba(47, 48, 58, 0.8);

$footerContactColor: rgba(255, 255, 255, 0.6);
$footerSocialColor: rgba(255, 255, 255, 0.1);

$primaryTransition: cubic-bezier(0.4, 0, 0.2, 1);
