:root {
  --pinkColor: #ff9292;
  --yellowColor: #ffc364;
  --greenColor: #1dd8d8;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --grayColor: #f5f5f5;
  --darkGrayColor: #e5e5e5;
  --darkColor: #333333;
}
* {
  margin: 0;
  padding: 0;
}
.page-content {
  font-family: "Roboto", sans-serif;
}
.nav {
  background-color: var(--whiteColor);
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
}
.nav__title {
  color: var(--pinkColor);
  font-size: 32px;
  padding-left: 30px;
}
.nav__contact a:link {
  color: var(--pinkColor);
  text-decoration: none;
}
.nav__contact a:hover {
  color: var(--yellowColor);
}
.main__about {
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__about--text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
  padding: 70px;
  width: 80%;
  background-color: var(--pinkColor);
  color: var(--whiteColor);
  border-radius: 30%;
}
.main__about--header {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  padding-left: 25%;
  padding-bottom: 10%;
  color: var(--whiteColor);
}
.nav__menu {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.nav__menu a:link {
  color: var(--pinkColor);
  text-decoration: none;
}
